.DS_Store
Thumbs.db
*.swp

.idea/
.vscode/
*.sublime-workspace
.history/*
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

**/node_modules/

.env
.env.*
!.env.example

**/dist/
**/build/
**/.next/
**/out/
**/coverage/

EIP/back_end/carrion/src/**/*.js
EIP/back_end/carrion/src/**/*.js.map
EIP/back_end/carrion/src/**/*.d.ts

**/.vercel
*.tsbuildinfo
next-env.d.ts