version: "3.8"

services:
  db:
    image: postgres:latest
    environment:
      POSTGRES_DB: carrion-db
      POSTGRES_USER: carrion
      POSTGRES_PASSWORD: carrion
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - "5434:5432"
    networks:
      back-tier:

  # ngrok:
  # image: ngrok/ngrok:latest
  # restart: unless-stopped
  # command:
  #   - "http"
  #   - "--config=/etc/ngrok.yml"
  #   - "--domain=redfish-robust-roughly.ngrok-free.app"
  #   - "192.168.1.77:8080"
  # depends_on:
  #   - server
  # volumes:
  #   - ./ngrok.yml:/etc/ngrok.yml
  # ports:
  #   - 4040:4040

  server:
    build:
      context: ./EIP/back_end/carrion
      dockerfile: ../Dockerfile
    restart:  on-failure
    # depends_on:
    #   - db
    environment:
      - SERVER_PORT=8080
    ports:
      - "8080:8080"
    networks:
      - back-tier
    volumes:
      - common:/apk
      
  # client_mobile:
  #   build:
  #     context: ./mobile/mobile
  #     dockerfile: ../Dockerfile
  #   depends_on:
  #     - server
  #   volumes:
  #     - common:/apk

  client_web:
    build:
      context: ./EIP/front_end/carrion
      dockerfile: ../Dockerfile
    depends_on:
      - server
    environment:
      HOST: 0.0.0.0    
      PORT: 8081
    ports:
      - 8081:8081
    volumes:
      - common:/apk

networks:
  back-tier:
    driver: bridge

volumes:
  common:
  pg_data: