version: "3.8"

services:
  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_DB: carrion-db
      POSTGRES_USER: carrion
      POSTGRES_PASSWORD: carrion
    volumes:
      - pg_data:/var/lib/postgresql
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U carrion -d carrion-db"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      back-tier:

  # ngrok:
  # image: ngrok/ngrok:latest
  # restart: unless-stopped
  # command:
  #   - "http"
  #   - "--config=/etc/ngrok.yml"
  #   - "--domain=redfish-robust-roughly.ngrok-free.app"
  #   - "192.168.1.77:8080"
  # depends_on:
  #   - server
  # volumes:
  #   - ./ngrok.yml:/etc/ngrok.yml
  # ports:
  #   - 4040:4040

  server:
    build:
      context: ./EIP/back_end/carrion
      dockerfile: Dockerfile
    restart: on-failure
    depends_on:
      db:
        condition: service_healthy
    environment:
      - SERVER_PORT=8080
    ports:
      - "8080:8080"
    networks:
      back-tier:
      api-tier:
    command: npm run start:dev
    volumes:
      - common:/apk
      - ./EIP/back_end/carrion:/app
      - /app/node_modules

  # client_mobile:
  #   build:
  #     context: ./mobile/mobile
  #     dockerfile: ../Dockerfile
  #   depends_on:
  #     - server
  #   volumes:
  #     - common:/apk

  client_web:
    build:
      context: ./EIP/front_end/
      dockerfile: Dockerfile.dev
    ports:
      - "8081:3000"
    restart: unless-stopped
    networks:
      api-tier:
    volumes:
      - ./EIP/front_end:/app
      - /app/node_modules
      - /app/.next
    environment:
      - CHOKIDAR_USEPOLLING=true
      - NEXT_PUBLIC_API_URL=http://localhost:8080
      - INTERNAL_API_URL=http://server:8080

networks:
  back-tier:
    driver: bridge
  api-tier:
    driver: bridge

volumes:
  common:
  pg_data:
