.primaryButton {
  background-color: var(--primary-color);
  color: var(--text-light);
  width: 100%;
  border: none;
  border-radius: var(--small-border-radius);
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 1px;
}

.primaryButton:hover {
  background-color: var(--secondary-color);
  color: var(--text-dark);
}

.small {
  padding: 8px 14px;
  font-size: 8px;
}

.medium {
  padding: 12px 18px;
  font-size: 14px;
  max-height: 32px;
}

.large {
  padding: 12px 24px;
  font-size: 16px;
  max-height: 42.5px;
  min-width: 200px;
}

@media (max-width: 768px) {
  .primaryButton {
    font-size: 14px;
    padding: 8px 16px;
  }

  .small {
    font-size: 7px;
    padding: 6px 12px;
  }

  .medium {
    font-size: 12px;
    padding: 10px 16px;
  }

  .large {
    font-size: 14px;
    padding: 12px 20px;
    min-width: 200px;
    max-width: 200px;
  }
}

@media (max-width: 480px) {
  .primaryButton {
    font-size: 12px;
    padding: 8px 14px;
  }
}
