button {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  font-weight: 500;
  margin-top: 0.5rem;
}

button:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}