.primary-button {
  background-color: var(--brand-color-primary);
  color: var(--text-color-light);
  width: auto;
  border: none;
  border-radius: var(--small-border-radius);
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.primary-button:hover {
  background-color: var(--brand-color-secondary);
  color: var(--text-color-dark);
}

.small {
  padding: 8px 14px;
  font-size: 8px;
}

.medium {
  padding: 12px 18px;
  font-size: 14px;
  max-height: 32px;
}

.large {
  padding: 12px 24px;
  font-size: 16px;
  max-height: 42.5px;
}

/* Add responsive font sizes for buttons */
@media (max-width: 768px) {
  .primary-button {
    font-size: 14px;
    padding: 8px 16px;
  }

  .small {
    font-size: 7px;
    padding: 6px 12px;
  }

  .medium {
    font-size: 12px;
    padding: 8px 14px;
  }

  .large {
    font-size: 14px;
    padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  .primary-button {
    font-size: 12px;
    padding: 8px 14px;
  }
}
