/* Variables de couleurs */
:root {
--primary-color: #f7f0e8;
--secondary-color: #ffffff;
--text-color: #333333;
--accent-color: #000000;
--shadow-color: rgba(0, 0, 0, 0.1);
}

/* Top bar */
.top-bar {
margin-top: 50px;
background-color: var(--primary-color);
display: flex;
flex-direction: row;
justify-content: space-between;
}

.objectives {
display: flex;
align-items: center;
margin-left: 10%;
font-size: 1.5rem;
}

.dashboard-title {
font-size: 2rem;
font-weight: bold;
}

.search-input-container {
margin-right: 10%;
position: relative;
display: flex;
align-items: center;
width: 300px;
}

.search-icon {
position: absolute;
left: 5px;
color: var(--text-color);
font-size: 20px;
}

.search-input {
width: 100%;
padding: 10px 10px 10px 35px;
border: 1px solid var(--shadow-color);
border-radius: 20px;
font-size: 20px;
color: var(--text-color);
outline: none;
box-shadow: 0 2px 4px var(--shadow-color);
}

.search-input::placeholder {
color: var(--accent-color);
opacity: 0.7;
}

.search-input:focus {
border-color: var(--accent-color);
box-shadow: 0 0 5px var(--accent-color);
}

/* Toggle button */
.dashboard-toggle-buttons {
display: flex;
justify-content: right;
margin: 2% 15% 1% 0;
gap: 10px;
}

.toggle-button {
padding: 10px 20px;
border: 1px solid var(--shadow-color);
background-color: var(--primary-color);
color: var(--text-color);
border-radius: 5px;
transition: all 0.3s ease;
}

.toggle-button.active {
background-color: var(--accent-color);
color: var(--secondary-color);
cursor: auto;
}

.toggle-button:hover:not(.active) {
cursor: pointer;
background-color: var(--shadow-color);
}

/* Liste */
.dashboard-list {
display: flex;
flex-direction: column;
gap: 20px;
align-items: center;
box-sizing: border-box;
}

.dashboard-list-card {
display: flex;
align-items: center;
justify-content: space-between;
background-color: var(--primary-color);
border: 1px solid var(--shadow-color);
border-radius: 8px;
padding: 20px;
width: 70%;
box-sizing: border-box;
box-shadow: 0 2px 4px var(--shadow-color);
}

.dashboard-list-logo {
width: 100px;
height: 100px;
margin-left: 2%;
border-radius: 50%;
object-fit: cover;
}

.dashboard-list-details {
flex: 1;
margin-left: 60px;
display: flex;
flex-direction: column;
justify-content: center;
}

.dashboard-list-company-name {
margin: 0;
font-size: 20px;
font-weight: bold;
color: var(--text-color);
}

.dashboard-list-job-title {
margin: 5px 0;
font-size: 16px;
color: var(--accent-color);
}

.dashboard-list-status {
margin: 5px 0;
font-size: 14px;
color: var(--text-color);
}

.dashboard-list-date {
margin: 5px 0;
font-size: 14px;
color: var(--text-color);
}

.dashboard-list-button {
background-color: var(--primary-color);
color: var(--text-color);
border: none;
padding: 10px 15px;
border-radius: 20px;
cursor: pointer;
width: 18%;
box-shadow: 0 2px 4px var(--shadow-color);
transition: background-color 0.3s ease;
}

.dashboard-list-button:hover {
background-color: var(--accent-color);
color: var(--secondary-color);
}

/* Grille */
.dashboard-grid {
display: grid;
grid-template-columns: repeat(3, 30%);
justify-content: center;
max-width: calc(70% - 230px);
column-gap: 170px;
row-gap: 50px;
margin: 0 auto;
width: 100%;
}

.dashboard-grid-card {
background-color: var(--primary-color);
border: 1px solid var(--shadow-color);
height: 400px;
border-radius: 8px;
padding: 15px;
box-shadow: 0 2px 6px var(--shadow-color);
display: flex;
flex-direction: column;
justify-content: space-between;
text-align: center;
}

.dashboard-grid-header {
display: flex;
align-items: center;
justify-content: space-between;
}

.dashboard-grid-logo {
width: 100px;
height: 100px;
border-radius: 50px;
}

.dashboard-grid-company-name {
flex: 1;
display: flex;
justify-content: center;
font-weight: bold;
font-size: 22px;
}

.dashboard-grid-content {
margin: 10px 0;
}

.dashboard-grid-content h4 {
font-size: 22px;
font-weight: bold;
margin-bottom: 50px;
}

.dashboard-grid-content hr {
border: 0.5px solid var(--shadow-color);
}

.dashboard-grid-content p {
margin-top: 50px;
margin-bottom: 10px;
color: var(--text-color);
}

.dashboard-grid-button {
background-color: var(--primary-color);
color: var(--text-color);
border: none;
padding: 10px 15px;
border-radius: 20px;
cursor: pointer;
width: 90%;
box-shadow: 0 2px 4px var(--shadow-color);
transition: background-color 0.3s ease;
margin: 0 auto;
}

.dashboard-grid-button:hover {
background-color: var(--accent-color);
color: var(--secondary-color);
}
