/* Top bar */
.top-bar {
margin-top: 50px;
height: 200px;
background-color: var(--primary-color);
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.objectives {
margin-left: 10%;
font-size: 1.5rem;
}

.dashboard-title {
font-size: 1.5rem;
}

.search-input-container {
margin-right: 10%;
position: relative;
display: flex;
align-items: center;
width: 350px;
}

.search-icon {
position: absolute;
left: 10px;
color: var(--text-color);
font-size: 20px;
}

.search-input {
width: 100%;
padding: 10px 45px;
border: 1px solid var(--shadow-color);
border-radius: 20px;
font-size: 20px;
color: var(--text-color);
box-shadow: 0 2px 4px var(--shadow-color);
}

.search-input::placeholder {
color: var(--accent-color);
opacity: 0.7;
text-align: center;
}

.search-input:focus {
border-color: var(--accent-color);
box-shadow: 0 0 5px var(--accent-color);
}

/* Toggle button */
.dashboard-toggle-buttons {
display: flex;
justify-content: right;
margin: 2% 15% 1% 0;
gap: 10px;
}

.toggle-button {
padding: 10px 20px;
border: 1px solid var(--shadow-color);
background-color: var(--primary-color);
color: var(--text-color);
border-radius: 5px;
transition: all 0.3s ease;
}

.toggle-button.active {
background-color: grey;
color: var(--secondary-color);
cursor: auto;
}

.toggle-button:hover:not(.active) {
cursor: pointer;
background-color: var(--shadow-color);
}

/* Liste */
.dashboard-list {
display: flex;
flex-direction: column;
gap: 40px;
align-items: center;
box-sizing: border-box;
margin-bottom: 200px;
}

.dashboard-list-card {
display: flex;
align-items: center;
justify-content: space-between;
background-color: var(--secondary-color);
border: 1px solid var(--shadow-color);
border-radius: 8px;
padding: 10px;
width: 70%;
box-sizing: border-box;
box-shadow: 0 2px 4px var(--shadow-color);
position: relative;
}

.dashboard-list-logo {
width: 100px;
height: 100px;
margin-left: 2%;
border-radius: 50%;
object-fit: cover;
}

.dashboard-list-content {
flex: 1;
margin-left: 60px;
display: flex;
flex-direction: column;
}

.dashboard-list-company-name {
margin: 0;
font-size: 20px;
font-weight: bold;
color: var(--text-color);
}

.dashboard-list-job-title {
margin: 5px 0;
font-size: 16px;
color: var(--accent-color);
}

.dashboard-list-status {
margin: 5px 0;
font-size: 14px;
color: var(--text-color);
}

.dashboard-list-date {
margin: 5px 0;
font-size: 14px;
color: var(--text-color);
}

.dashboard-list-details {
color: var(--text-color);
border: none;
padding: 10px 15px;
border-radius: 20px;
margin-top: 2%;
cursor: pointer;
width: 80%;
box-shadow: 0 2px 4px var(--shadow-color);
transition: background-color 0.3s ease;
}

.dashboard-list-details:hover {
background-color: var(--text-color);
color: var(--secondary-color);
}

.dashboard-list-actions {
display: flex;
flex-direction: column;
margin-right: 60%;
gap: 10px;
}

.list-tooltip {
visibility: hidden;
opacity: 0;
position: absolute;
left: 100%;
background-color: var(--text-color);
color: var(--secondary-color);
padding: 5px 10px;
border-radius: 5px;
font-size: 12px;
white-space: nowrap;
box-shadow: 0px 2px 4px var(--shadow-color);
transition: opacity 0.3s ease;
z-index: 10;
}

.action-button:hover .list-tooltip {
visibility: visible;
opacity: 1;
}

.dashboard-list-status-banner {
height: 100%;
width: 700px;
position: absolute;
top: 0;
right: 0;
border-radius: 0 8px 8px 0;
}

.dashboard-list-status-banner.acceptée {
background: linear-gradient(90deg, var(--secondary-color), #0de406);
}

.dashboard-list-status-banner.attente {
background: linear-gradient(90deg, var(--secondary-color), #fc8f02);
}

.dashboard-list-status-banner.refusée {
background: linear-gradient(90deg, var(--secondary-color), #fa0202);
}

/* Grille */
.dashboard-grid {
display: grid;
grid-template-columns: repeat(3, 30%);
justify-content: center;
max-width: calc(70% - 230px);
column-gap: 170px;
row-gap: 50px;
margin: 0 auto 200px;
width: 100%;
}

.dashboard-grid-card {
background-color: var(--primary-color);
border: 1px solid var(--shadow-color);
height: 400px;
border-radius: 8px;
padding: 15px;
box-shadow: 0 2px 6px var(--shadow-color);
display: flex;
flex-direction: column;
justify-content: space-between;
text-align: center;
position: relative;
overflow: hidden;
}

.dashboard-grid-header {
display: flex;
align-items: center;
justify-content: space-between;
}

.dashboard-grid-logo {
width: 100px;
height: 100px;
border-radius: 50px;
}

.dashboard-grid-company-name {
flex: 1;
display: flex;
justify-content: center;
font-weight: bold;
font-size: 22px;
}

.dashboard-grid-content {
margin: 10px 0;
}

.dashboard-grid-content h4 {
font-size: 22px;
font-weight: bold;
margin-bottom: 50px;
}

.dashboard-grid-content hr {
border: 0.5px solid var(--shadow-color);
}

.dashboard-grid-content p {
margin-top: 50px;
margin-bottom: 10px;
color: var(--text-color);
}

.dashboard-grid-details {
background-color: var(--primary-color);
color: var(--text-color);
border: none;
padding: 10px 15px;
border-radius: 20px;
cursor: pointer;
width: 90%;
box-shadow: 0 2px 4px var(--shadow-color);
transition: background-color 0.3s ease;
margin: 0 auto;
}

.dashboard-grid-details:hover {
background-color: var(--text-color);
color: var(--secondary-color);
}

.dashboard-grid-actions {
display: flex;
justify-content: space-around;
margin: 10px;
}

.grid-tooltip {
visibility: hidden;
opacity: 0;
position: absolute;
bottom: 100%;
left: -38%;
background-color: var(--text-color);
color: var(--secondary-color);
padding: 5px 10px;
border-radius: 5px;
font-size: 12px;
white-space: nowrap;
box-shadow: 0px 2px 4px var(--shadow-color);
transition: opacity 0.3s ease;
z-index: 10;
}

.action-button:hover .grid-tooltip {
visibility: visible;
opacity: 1;
}

.dashboard-grid-status-banner {
height: 100%;
width: 40px;
position: absolute;
bottom: 0;
right: 0;
}

.dashboard-grid-status-banner.acceptée {
background: linear-gradient(90deg, var(--primary-color), #0de406);
}

.dashboard-grid-status-banner.attente {
background: linear-gradient(90deg, var(--primary-color), #fc8f02);
}

.dashboard-grid-status-banner.refusée {
background: linear-gradient(90deg, var(--primary-color), #fa0202);
}

.action-button {
position: relative;
background: none;
border: none;
font-size: 20px;
cursor: pointer;
padding: 5px;
transition: transform 0.3s ease;
}

.action-button img {
width: 30px;
height: 30px;
}

.action-button:hover {
transform: scale(1.2);
}
  