.header {
    position: fixed;
    height: 60px;
    width: 100%;
    left: 0;
    top: 0;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-between; /* Assure la répartition des éléments */
    padding: 0 20px;
    z-index: 1000;
  }
  
  /* Logo à gauche */
  .logo-button {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .logo-button img {
    width: 175px;
  }
  
  /* Conteneur pour centrer la navigation */
  .navigation-container {
    flex: 1; /* Permet à la navigation de prendre l’espace restant */
    display: flex;
    justify-content: center; /* Centre les boutons */
  }
  
  /* Navigation centrée */
  .navigation-buttons {
    display: flex;
    gap: 50px;
  }
  
  .navigation-buttons button {
    font-size: 1.4rem;
    background-color: var(--secondary-color);
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  
  .navigation-buttons button:hover {
    text-decoration: underline;
  }
  
  /* Bouton de déconnexion à droite */
  .logout-button {
    padding: 5px 20px;
    font-size: 1.2rem;
    background-color: var(--secondary-color);
    border-radius: 20px;
    border: none;
    cursor: pointer;
  }
  
  .logout-button:hover {
    background-color: var(--primary-color);
  }
  