/* Variables de couleurs */
:root {
--primary-color: #f7f0e8;
--secondary-color: #ffffff;
--text-color: #333333;
--accent-color: #000000;
--shadow-color: rgba(0, 0, 0, 0.1);
}

/* Général */
body {
margin: 0;
font-family: Arial, sans-serif;
color: var(--text-color);
}

/* Header */
.fixed-header {
position: fixed;
top: 0;
height: 5%;
width: 100%;
background-color: var(--secondary-color);
display: flex;
justify-content: space-between;
align-items: center;
}

.logo-button {
font-size: 1.5rem;
font-weight: bold;
color: var(--accent-color);
cursor: pointer;
}

.logout-button {
padding: 10px 20px;
font-size: 1.2rem;
color: var(--text-color);
background-color: var(--secondary-color);
border-radius: 20px;
cursor: pointer;
}

.logout-button:hover {
background-color: var(--primary-color);
}

.navigation-buttons button {
padding: 10px 20px;
font-size: 1.4rem;
margin-left: 10px;
margin-right: 10px;
background-color: var(--secondary-color);
font-weight: bold;
border: none;
cursor: pointer;
}

.navigation-buttons button:hover {
text-decoration: underline;
}
