/* Variables de couleurs */
:root {
--primary-color: #f7f0e8;
--secondary-color: #ffffff;
--text-color: #333333;
--accent-color: #000000;
--shadow-color: rgba(0, 0, 0, 0.1);
}

/* Général */
body {
margin: 0;
font-family: Arial, sans-serif;
color: var(--text-color);
}

/* Header */
.fixed-header {
position: fixed;
top: 0;
height: 5%;
width: 100%;
background-color: var(--secondary-color);
box-shadow: 0 2px 4px var(--shadow-color);
z-index: 1000;
display: flex;
justify-content: space-between;
align-items: center;
}

.logo {
font-size: 1.5rem;
margin-left: 20px;
font-weight: bold;
color: var(--accent-color);
}

.header-buttons button {
margin-right: 20px;
padding: 10px 20px;
font-size: 1.2rem;
color: var(--secondary-color);
background-color: var(--text-color);
border: none;
border-radius: 20px;
cursor: pointer;
}

.header-buttons button:hover {
background-color: var(--accent-color);
}

/* Section principale */
.landing-background {
height: 100vh;
background: url('../assets/bg_carrion.webp') no-repeat center center/cover;
}

.landing-main {
position: absolute;
top: 35%;
left: 50%;
transform: translate(-50%, -50%);
display: flex;
justify-content: space-between;
align-items: center;
width: 80%;
}

.landing-welcome {
font-size: 5rem;
font-weight: bold;
margin: 0;
max-width: 40%;
color: var(--secondary-color);
text-shadow:
    1px 1px 0 var(--accent-color), 
    -1px 1px 0 var(--accent-color), 
    1px -1px 0 var(--accent-color), 
    -1px -1px 0 var(--accent-color);
}

.landing-description {
font-size: 1.8rem;
margin-top: 0;
max-width: 40%;
color: var(--accent-color);
}


/* Services Section */
.services-section {
text-align: center;
padding: 50px 20px;
background-color: var(--secondary-color);
}

.services-title {
font-size: 5rem;
font-weight: bold;
margin-bottom: 100px;
}

.services-container {
display: flex;
justify-content: space-around;
align-items: flex-start;
gap: 20px;
}

.service-card {
position: relative;
background-color: var(--primary-color);
padding: 40px 20px;
text-align: center;
width: 250px;
height: 300px;
border-radius: 8px;
box-shadow: 0 4px 6px var(--shadow-color);
}

.service-number {
position: absolute;
top: -20px;
left: 50%;
transform: translateX(-50%);
background-color: var(--secondary-color);
color: var(--accent-color);
font-weight: bold;
width: 50px;
height: 50px;
line-height: 50px;
border-radius: 50%;
border: 1px solid var(--accent-color);
font-size: 1.2rem;
}

.service-card h3 {
margin: 20px 0 100px;
font-size: 2rem;
font-weight: bold;
}

.service-card p {
color: var(--text-color);
font-size: 1rem;
}

/* How It Works Section */
.how-it-works-section {
display: flex;
align-items: center;
justify-content: space-between;
background-color: var(--primary-color);
margin-top: 100px;
}

.how-it-works-container {
display: flex;
width: 100%;
height: 700px;
}

.how-it-works-image {
flex: 6;
background: url('../assets/spiral-1.jpg') no-repeat left center/cover;
}

.how-it-works-text {
flex: 4;
padding-left: 40px;
display: flex;
flex-direction: column;
justify-content: center;
text-align: left;
}

.how-it-works-text h2 {
font-size: 4rem;
font-weight: bold;
margin-bottom: 10px;
}

.how-it-works-text h3 {
font-size: 2rem;
font-weight: normal;
color: var(--accent-color);
margin-bottom: 80px;
}

.how-it-works-text p {
font-size: 1.4rem;
color: var(--text-color);
line-height: 1.2;
}

/* Testimonials Section */
.testimonials-section {
background-color: var(--secondary-color);
padding: 50px 30px;
text-align: center;
}

.testimonials-title {
font-size: 3rem;
font-weight: bold;
margin-bottom: 70px;
}

.testimonials-container {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto auto auto;
gap: 50px;
}

.testimonial {
background-color: var(--primary-color);
border-radius: 8px;
box-shadow: 0 4px 6px var(--shadow-color);
}

.testimonial p {
font-size: 1.2rem;
color: var(--text-color);
line-height: 1.5;
width: 70%;
margin: 0 auto;
margin-top: 15px;
}

.testimonial-author {
font-size: 1.1rem;
font-weight: bold;
margin-top: 15px;
color: var(--accent-color);
}

.testimonials-container .testimonial:nth-child(1) {
grid-column: 1;
grid-row: 1;
}

.testimonials-container .testimonial:nth-child(2) {
grid-column: 2;
grid-row: 2;
}

.testimonials-container .testimonial:nth-child(3) {
grid-column: 1;
grid-row: 3;
}
