/* Header */
.fixed-header {
position: fixed;
height: 5%;
width: 100%;
background-color: var(--secondary-color);
box-shadow: 0 2px 4px var(--shadow-color);
z-index: 1000;
display: flex;
justify-content: space-between;
align-items: center;
}

.logo {
font-size: 1.5rem;
margin-left: 20px;
}

.header-buttons button {
margin-right: 20px;
padding: 5px 20px;
font-size: 1.2rem;
background-color: var(--primary-color);
border: 0.5px solid var(--primary-color);
border-radius: 20px;
cursor: pointer;
}

.header-buttons button:hover {
border: 0.5px solid var(--accent-color);
}

/* Section principale */
.landing-background {
height: 100vh;
background: url('../assets/bg_carrion.webp') no-repeat center center/cover;
}

.landing-main {
position: absolute;
top: 30%;
left: 50%;
transform: translate(-50%, -50%);
display: flex;
justify-content: space-between;
align-items: center;
width: 80%;
}

.landing-welcome {
font-size: 5.5rem;
font-weight: bold;
max-width: 45%;
color: var(--secondary-color);
text-shadow:
    1px 1px 0 var(--accent-color), 
    -1px 1px 0 var(--accent-color), 
    1px -1px 0 var(--accent-color), 
    -1px -1px 0 var(--accent-color);
}

.landing-description {
font-size: 1.8rem;
max-width: 40%;
color: var(--accent-color);
}

/* Services Section */
.services-section {
text-align: center;
padding: 50px 20px;
background-color: var(--secondary-color);
}

.services-title {
font-size: 4rem;
font-weight: bold;
margin-bottom: 100px;
}

.services-container {
display: flex;
justify-content: space-around;
}

.service-card {
position: relative;
background-color: var(--primary-color);
padding: 20px 20px;
text-align: center;
width: 14.5%;
border-radius: 10px;
box-shadow: 0 4px 6px var(--shadow-color);
}

.service-number {
position: absolute;
top: -7%;
left: 50%;
transform: translateX(-50%);
background-color: var(--primary-color);
color: var(--accent-color);
font-weight: bold;
width: 16%;
height: 14%;
line-height: 200%;
border-radius: 50%;
font-size: 1.5rem;
}

.service-card h3 {
margin: 20px 0 100px;
font-size: 2rem;
font-weight: normal;
}

.service-card p {
color: var(--text-color);
font-size: 1rem;
}

/* How It Works Section */
.how-it-works-section {
display: flex;
align-items: center;
justify-content: space-between;
background-color: var(--primary-color);
margin-top: 100px;
}

.how-it-works-container {
display: flex;
width: 100%;
height: 700px;
}

.how-it-works-image {
flex: 6;
background: url('../assets/how-it-works.jpg') no-repeat left center/cover;
}

.how-it-works-text {
flex: 4;
padding: 40px;
display: flex;
flex-direction: column;
justify-content: center;
text-align: left;
}

.how-it-works-text h2 {
font-size: 3.5rem;
font-weight: bold;
margin-bottom: 10px;
}

.how-it-works-text h3 {
font-size: 2rem;
font-weight: normal;
margin-bottom: 80px;
}

.how-it-works-text p {
font-size: 1.4rem;
color: var(--text-color);
line-height: 1.2;
}

/* Testimonials Section */
.testimonials-section {
background-color: var(--secondary-color);
padding: 50px 30px;
text-align: center;
margin-bottom: 200px;
}

.testimonials-title {
font-size: 4rem;
font-weight: bold;
margin-bottom: 100px;
}

.testimonials-container {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto auto auto;
gap: 50px;
}

.testimonial {
background-color: var(--primary-color);
border-radius: 10px;
box-shadow: 0 4px 6px var(--shadow-color);
}

.testimonial p {
font-size: 1.2rem;
color: var(--text-color);
line-height: 1.5;
width: 70%;
margin: 15px auto;
}

.testimonial-author {
font-weight: bold;
}

.testimonials-container .testimonial:nth-child(1) {
grid-column: 1;
grid-row: 1;
}

.testimonials-container .testimonial:nth-child(2) {
grid-column: 2;
grid-row: 2;
}

.testimonials-container .testimonial:nth-child(3) {
grid-column: 1;
grid-row: 3;
}
