/* Header */
.fixed-header {
position: fixed;
height: 5%;
background-color: var(--secondary-color);
box-shadow: 0 2px 4px var(--shadow-color);
z-index: 1000;
display: flex;
justify-content: space-between;
align-items: center;
}

.logo {
font-size: 1.5rem;
margin-left: 20px;
}

.header-buttons button {
margin-right: 20px;
padding: 5px 20px;
font-size: 1.2rem;
border: 0.5px solid var(--primary-color);
border-radius: 20px;
cursor: pointer;
background-color: var(--secondary-color);
}

.header-buttons button:hover {
background-color: var(--primary-color)
}

.intro-section {
text-align: center;
padding-top: 40px;
margin-bottom: 40px;
background-color: var(--secondary-color);
}

.intro-section h1 {
font-size: 2.5rem;
color: var(--accent-color);
}

.intro-section p {
font-size: 1.2rem;
color: var(--text-color);
}

/* Section principale */
.landing-background {
height: 100vh;
background: url('../assets/bg_carrion.webp') no-repeat center center/cover;
}

.landing-main {
display: flex;
justify-content: center;
align-items: flex-start;
position: relative;
top: 10%;
width: 100%;
}

.landing-description {
font-size: 2rem;
color: var(--accent-color);
text-align: center;
}

.scroll-button {
position: absolute;
bottom: 3rem;
width: 4rem;
height: 4rem;
background-color: var(--secondary-color);
border: none;
border-radius: 50%;
display: flex;
justify-content: center;
cursor: pointer;
transition: transform 0.3s ease, background-color 0.3s ease;
}

.scroll-button:hover {
transform: scale(1.1);
}
.arrow {
font-size: 3rem;
color: var(--accent-color);
animation: bounce 1.5s infinite;
}

@keyframes bounce {
0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
}
40% {
    transform: translateY(-10px);
}
60% {
    transform: translateY(-5px);
}
}


/* Services Section */
.services-section {
text-align: center;
background-color: var(--secondary-color);
}

.services-title {
font-size: 4rem;
font-weight: bold;
padding-top: 40px;
margin-bottom: 100px;
}

.services-container {
display: flex;
justify-content: space-around;
}

.service-card {
position: relative;
background-color: var(--primary-color);
padding: 20px 20px;
text-align: center;
width: 14.5%;
border-radius: 10px;
box-shadow: 0 4px 6px var(--shadow-color);
}

.service-card h3 {
margin: 20px 0 100px;
font-size: 2rem;
font-weight: normal;
}

.service-card p {
color: var(--text-color);
font-size: 1rem;
}

/* How It Works Section */
.how-it-works-section {
display: flex;
align-items: center;
justify-content: space-between;
background-color: var(--primary-color);
margin-top: 100px;
border-radius: 20px;
overflow: hidden;
}

.how-it-works-container {
display: flex;
width: 100%;
height: 700px;
}

.how-it-works-image {
flex: 6;
background: url('../assets/how-it-works.jpg') no-repeat left center/cover;
}

.how-it-works-text {
flex: 4;
padding: 40px;
display: flex;
flex-direction: column;
justify-content: center;
text-align: left;
}

.how-it-works-text h2 {
font-size: 3.5rem;
font-weight: bold;
margin-bottom: 10px;
}

.how-it-works-text h3 {
font-size: 2rem;
font-weight: normal;
margin-bottom: 80px;
}

.how-it-works-text p {
font-size: 1.4rem;
color: var(--text-color);
line-height: 1.2;
}

/* Testimonials Section */
.testimonials-section {
background-color: var(--secondary-color);
padding: 50px 30px;
text-align: center;
margin-bottom: 200px;
}

.testimonials-title {
font-size: 4rem;
font-weight: bold;
margin-bottom: 100px;
}

.testimonials-container {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto auto auto;
gap: 50px;
}

.testimonial {
background-color: var(--primary-color);
border-radius: 10px;
box-shadow: 0 4px 6px var(--shadow-color);
}

.testimonial p {
font-size: 1.2rem;
color: var(--text-color);
line-height: 1.5;
width: 70%;
margin: 15px auto;
}

.testimonial-author {
font-weight: bold;
}

.testimonials-container .testimonial:nth-child(1) {
grid-column: 1;
grid-row: 1;
}

.testimonials-container .testimonial:nth-child(2) {
grid-column: 2;
grid-row: 2;
}

.testimonials-container .testimonial:nth-child(3) {
grid-column: 1;
grid-row: 3;
}
