body.login-page-bg {
  background-color: var(--secondary-color);
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #e3f2fd;
  font-family: Arial, sans-serif;
}

.logo-home {
  position: absolute;
  width: 9%;
}

.login-container {
  background: var(--secondary-color);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 50%;
}

.login-container h2 {
  color: #1565c0;
  margin-bottom: 40px;
}

.form-content {
  display: flex;
}

.input-fields {
  flex: 1;
  text-align: left;
}

.input-group {
  margin-bottom: 15px;
  width: 50%;
  margin-left: 10%;
}

.input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--text-color);
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  outline: none;
}

.input-group input:focus {
  border-color: #007bff;
  box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.2);
}

.error-message {
  color: red;
  font-size: 0.9rem;
}

.button-group {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  margin-top: 1.6%;
  gap: 30px;
}

.button-group button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 20%;
}

.login-button {
  background-color: #007bff;
  color: white;
}

.login-button:hover {
  background-color: #0056b3;
}

.register-button {
  background-color: #0056b3;
  color: white;
}

.register-button:hover {
  background-color: #5a6268;
}

.social-login {
  margin-top: 40px;
  display: flex;
}

.outlook-button, .google-login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 13px;
  width: 42%;
  height: 32px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.outlook-button {
  background-color: #0078d4;
  color: white;
  border: none;
}

.outlook-button img {
  width: 20px;
  margin-right: 10px;
}

.outlook-button:hover {
  background-color: #005ea6;
}

.google-login-button {
  background-color: var(--secondary-color);
  border: 1px solid #d1d1d1;
  color: var(--text-color);
}

.google-login-button img {
  width: 20px;
  margin-right: 10px;
}
