* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 90%;
}

.layout-body {
  display: flex;
  flex: 1;
  height: 50vh;
}

.main-content {
  flex: 1;
  padding: 20px;
  margin-left: 220px;
  background: #FFF9F0;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 220px;
  background-color: #0c1f3d;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  transition: width 0.3s ease;
  overflow: hidden;
}

.title {
  font-size: xx-large;
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  justify-content: flex-start;
  cursor: pointer;
}

.logo-img {
  width: 40px;
  object-fit: contain;
}

.logo .icon {
  font-size: 23px;
  margin-right: 5px;
  margin-bottom: 10px;
  height: 30px;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  display: flex;
  align-items: center;
  padding: 10px 0;
  cursor: pointer;
  transition: 0.2s;
}
.menu li span:first-child {
  margin-right: 10px;
}

.menu li:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding-left: 10px;
}

.sidebar.collapsed {
  width: 70px;
}

.sidebar.collapsed .text {
  display: none;
}

.sidebar.collapsed .menu li {
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 70px;
  }

  .sidebar .text {
    display: none;
  }

  .menu li {
    justify-content: center;
  }
}
.topbar {
  height: 60px;
  background-color: #0c1f3d;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
  border-bottom: 1px solid #1f3554;
}

.logo.right {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  margin-right: auto;
  margin-top: 40px;
}

.logo.right .icon {
  font-size: 10px;
  gap: 8px;
}

.logo-text {
  font-size: 30px;
  margin-left: 8px;
  color: white;
  position: relative;
  top: -9px;
}

.notifications {
  margin-right: 20px;
  font-size: 20px;
  cursor: pointer;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.username {
  font-weight: 500;
}

.content-wrapper {
  display: flex;
  flex: 1;
}