.register-page {
  background-color: #e3f2fd;
  min-height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.register-title {
  color: #1565c0;
  margin-bottom: 20px;
}

.register-form {
  background-color: #ffffff;
  padding: 3%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  overflow: hidden;
}

.register-label {
  color: #0f0f0f;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.register-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #b3e5fc;
  border-radius: 5px;
  font-size: 14px;
}

.register-button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.register-submit {
  background-color: #1565c0;
  color: white;
}

.register-login {
  background-color: #42a5f5;
  color: white;
}

.logo {
  position: absolute;
  top: 9px;
  left: 9px;
  width: 158px;
  height: 50px;
}