.container {
    max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
}

.kpi-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 30px;
  margin-bottom: 50px;
}

.kpi-card {
  background-color: white;
  border-radius: 70px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(19, 34, 56, 0.08);
  transition: transform 0.2s ease;
}

.kpi-card:hover, .chart-card:hover {
  transform: translateY(-5px);
}

.kpi-title {
  font-size: 16px;
  color: #132238;
}

.kpi-value {
  font-size: 32px;
  font-weight: bold;
  color: #FBB75F;
}

.charts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 44px;
}

.chart-card {
  background-color: white;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(19, 34, 56, 0.08);
  transition: transform 0.2s ease;
}

.chart-title {
  font-size: 18px;
  color: #132238;
  margin-bottom: 12px;
  font-weight: 600;
}

.loading {
  padding: 50px;
  font-size: 18px;
  text-align: center;
}

.milestone-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding-top: 12px;
}
.milestone {
  padding: 10px 16px;
  border-radius: 8px;
  background-color: #f7f0e8;
  color: #333;
  font-weight: bold;
}
.achieved {
  border: 2px solid #82ca9d;
}
.not-achieved {
  border: 2px dashed #ccc;
  opacity: 0.7;
}

.milestone-message {
  margin-top: 10px;
  background-color: #f3f3f3;
  padding: 10px;
  border-radius: 6px;
}

.milestone-message.success {
  background-color: #dff0d8;
  color: #3c763d;
  position: relative;
}

.progress-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
}

.progress-item {
    gap: 10px;
}
