:root {
  --background-color: #fff9f0;
  --card-background: #ffffff;
  --primary-color: #132238;
  --secondary-color: #fbb75f;
  --accent-color: #e8f4f8;
  --text-dark: #000000;
  --text-light: #ffffff;
  --success-color: #48bb78;
  --warning-color: #ed8936;
  --error-color: #f56565;
  --info-color: #4299e1;
  --card-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --card-shadow-hover: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --text-color: #333333;
  --accent-color: #000000;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --small-border-radius: 8px;
  --sidebar-width: 260px;
  --sidebar-width-collapsed: 88px;
  --topbar-height: 70px;
}

@font-face {
  font-family: "TextPolice";
  src: url("/assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "TitlePolice";
  src: url("/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "TitlePolice", Arial, sans-serif;
  color: black;
}

html {
  overflow-y: scroll;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #fff9f0;
    --card-background: #ffffff;
    --primary-color: #132238;
    --secondary-color: #fbb75f;
    --accent-color: #e8f4f8;
    --text-dark: #000000;
    --text-light: #ffffff;
    --success-color: #48bb78;
    --warning-color: #ed8936;
    --error-color: #f56565;
    --info-color: #4299e1;
    --card-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --card-shadow-hover: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --text-color: #333333;
    --accent-color: #000000;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --outlook-button-color: #0078d4;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-dark);
  background-image: url("/assets/svg/background.svg");
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: auto;
  font-family: "TextPolice", sans-serif;
  background-color: #fff9f0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

.react-datepicker__portal {
  z-index: 10011 !important;
}

.react-datepicker {
  font-family: inherit !important;
  border: 1px solid #e2e8f0 !important;
  border-radius: 12px !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
  padding: 0.5rem !important;
}

.react-datepicker__header {
  background-color: white !important;
  border-bottom: 1px solid #e2e8f0 !important;
  padding-top: 1rem !important;
}