name: Sync to Public Repo

on:
  push:
    branches:
      - main  # ou toutes les branches: '*'

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Push to Public Repository
        run: |
          git remote add public git@github.com:melk-hub/Carrion.git
          git push public --mirror

